html {
	font-size: 16px; 
	color: #222;
}
body {
	/* overflow-x: hidden; */
	font-family: 'Diphylleia', sans-serif;
	background: #fff;
}

a {
	color: #898080;
	/* text-decoration: none; */
}
a:hover {
	/* color: red; */
}

h1, h2, h3 {
	letter-spacing: -0.01em;  /* 큰 글자들은 자간을 줄여야 예쁨 */
}

button {
	font-size: 1rem;  /* html의 기본 크기 16px에 맞추기 위해 1rem (cf. 2배라면 2rem) */
	border: 0;
	cursor: pointer;
}

.a11y-hidden-bg {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.a11y-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip-path: polygon(0 0, 0 0, 0 0);
}

.page {
	line-height: 2;  /* 전체를 감싸고 있는 article에 적용해 모든 글자의 행간을 2로 설정  */
}
.scroll-lock {
	overflow: hidden;
}
.width-setter {
	padding: 0 20px;  /* 일괄적으로 여백을 맞춰주기 위해 태그에 붙여준 클래스 */
}
.header {
	position: relative;
	z-index: 10;
	margin-bottom: 70vh;  /* 소개문단과 본문 사이의 위아래 공간 설정 */
}
.site-title {
	font-size: 9.4vw;  /* 사이트 제목의 폰트를 페이지의 크기에 맞춰 자동으로 조정되도록 하는 단위 vw 사용 */
	font-weight: bold;
	white-space: nowrap;  /* 폰트가 다음 줄로 떨어지지 않게 만들어주는 설정 */
}
.profile-image {
	max-width: 300px;
	margin: 3rem auto;  /* 표기법 : 상하 = 3rem, 좌우 = auto (가운데 정렬) */
}

/* 본문에 해당하는 콘텐츠 모음 section 영역 */
.scroll-content {
	position: relative;
	z-index: 10;
}

/* 3d panels */
.panels {
	position: fixed;  /* 스크롤이 내려가도 끝까지 다 보기전에는 패널이 고정되도록 설정 */
	left: 0;
	top: 0;
	width: 100vw;  
	height: 100vh; 
	perspective: 550px;  /* 3D 변환 효과(패널 롤링)를 적용할 때 물체가 떨어져 보이거나 화면에 가깝게 보이는 정도 */
	transition: 0.5s opacity;  /* 실제로 돌아가는건 panel-list 이기 때문에 panels엔 투명도만 설정 */
}
.panels.static-position {
	position: static;  /* position의 default -> 6번까지 다 넘어가고 나서 스크롤과 함께 올라가도록 구현하는 것 */
	margin-top: -100vh; 
}
.panel-list {
	transform-style: preserve-3d;  /* preserve-3d : item들의 3D 효과를 위해선 바로 윗단 elem에도 반드시 줘야하는 설정 */
	transition: 1s;
	will-change: transform;  /* 브라우저에게 특정 요소가 transform으로 추후에 움직일거라는 걸 (빠르고 능숙한 처리를 위해) 미리 알려주는 설정 (단, 남발금지) */
}
.panel-item {
	position: absolute;  /* 절대 위치 설정  */
	left: 50vw;
	top: 50vh; 
	width: 400px;
	height: 400px;
	margin: -150px 0 0 -150px; /* left, top을 50vw/vh로 정렬했지만 content의 왼쪽상단 모서리를 기준으로 정렬됐기 때문에 50%(=150/300)를 상,좌 쪽으로 땡긴 것 */
	opacity: 0.3;  /* 비활성 패널은 흐리게 보이도록 */          /* translate로 할 수도 있지만, transform도 있어서 그냥 margin으로 처리하는 전략 */
	transform-style: preserve-3d;  /* 당장은 필요없지만 이미지에 transform을 줄 경우 이게 상위 요소이므로 그냥 설정한 것*/
	transition: 0.5s;  /* transition으로 패널이 이동하는 시간이 0.5초 */
}

/* 배경색상은 스크립트에서 세팅  ->  js에서 inline으로 들어가도록 구현한 부분이라 주석처리 */
/* .panel-item:nth-of-type(4n+1) .panel-side { background: #f98866; }
.panel-item:nth-of-type(4n+2) .panel-side { background: #ffbb00; }
.panel-item:nth-of-type(4n+3) .panel-side { background: #80bd9e; }
.panel-item:nth-of-type(4n+4) .panel-side { background: #375e97; } */

.panel-item.active {
	opacity: 1;  /* 가운데 위치한 패널은 불투명도를 100%로 설정 */
}
.panel-side {
	overflow: hidden;  /* 내부 content(e.g. img)가 해당 요소바깥으로 삐져나온 경우 안보이도록 감추기(hidden) */
	position: absolute; 
	left: 0;
	top: 0;
	width: 100%;  /* 부모 요소에 꽉차게 100% 설정 */ 
	height: 100%;  /* 부모 요소에 꽉차게 100% 설정 */
	font-size: 50px;  /* 만약 글자가 들어간다면, (미리설정) */
	background-size: cover;  /* cover : 배경이미지가 요소의 전체영역을 채울수 있도록 크기조절 <-> contain : 이미지가 요소내 완전히 포함되도록 크기조절 */
	backface-visibility: hidden;
}
.panel-side img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	height: 100%;
	max-width: none;
	transform: translate(-50%, -50%);
	opacity: 0.2;
	mix-blend-mode: luminosity;  /* 흑백처리할 때 주로 사용, 배경색에 맞춰서 이미지를 blend하는 효과 */
}

/* project list */
.project-item {
	height: 100vh;   /* project-item의 높이를 100vh로 js에서 인식하도록 설정 */
	padding-top: 1px;
}
.project-content {
	margin-top: -30vh;
}
.project-title {
	padding: 1em 0;
	font-size: 9.4vw;  /* site-title과 동일한 크기 */
	font-weight: bold;
	line-height: 1.2;
}
.project-num {
	display: block;
	font-weight: normal;
}
.project-desc {
	margin-bottom: 1em;
}
.project-btn {
	padding: 0.5em 1em;
	font-weight: bold;
	color: #fff;
	border-radius: 100px;
	background: #222;
}

/* footer */
.copyright {
	margin-top: 5rem;
	padding: 1rem 0 3rem;
	border-top: 1px solid currentColor;  /* currentColor : 부모의 색깔을 상속받는 속성 */
	font-size: 0.8rem;
	text-align: center;
}

/* loading */
@keyframes loader-ani {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}
.loader-wrapper {
	display: flex;  /* flex로 container를 정렬 -> .loader-wrapper의 자식요소들은 이것에 맞춰 정렬된다 */
	justify-content: center;  /* 가운데 정렬 - justify-content, align-items: center */
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	background: #fff;
	opacity: 0;  /* .before-load가 js에 의해 사라지면 부모없는 자식이 되어 불투명도가 0%로 설정되면서 안보이게되는 효과 */
	transition: 0.5s;  /* 부드럽게 사라지는 효과를 주기위해 0.5초 설정 */
}

.before-load .loader-wrapper {  /* .before-load가 js에 의해 사라지기 전 자식일때는 불투명도를 100%로 설정해놓은 것 */
	opacity: 1;
}

.loader { /* 실질적으로 돌아가는 동그라미 애니메이션 */
	width: 30px;
	height: 30px;
	border: 5px solid #222;
	border-color: #222 transparent transparent;
	border-radius: 50%;
	animation: loader-ani 1s infinite linear;
}

@media (min-width: 960px) {  /* 브라우저 폭이 960px 이상일 때부터 적용되는 미디어 쿼리 */
	.width-setter {
		width: 920px;  /* 양쪽을 20px씩 잘라주는 효과 */
		margin: 0 auto;
	}
	.site-title {
		font-size: 5.8rem;  /* 글자크기를 브라우저 폭에 비례해서 정하는 단위 rem 설정 */
		white-space: nowrap;
	}
	.panel-side img {
		opacity: 0.5;
	}
	.paragraph {
		column-count: 3;  /* 소개 문단을 컬럼 3개로 나누는 효과 */ 
		column-gap: 3em;  /* 컬럼 사이 여백 */ 
	}
	.project-title {
		font-size: 5rem;
	}
	.project-content {
		width: 60%;
	}
}

@media (min-width: 1240px) {  /* 브라우저 폭이 1240px 이상일 때부터 적용되는 미디어 쿼리 */
	.width-setter {
		width: 1200px;  /* 양쪽을 20px씩 잘라주는 효과 */
	}
	.site-title {
		font-size: 7.6rem;  /* 글자크기를 브라우저 폭에 비례해서 정하는 단위 rem 설정 */
	}
}